.product-detail{
    display: flex;
    margin-top: 30px;
    padding: 100px;
    justify-content: space-around;
}
.prodetails .single-pro-image{
    width: 100px;
    margin-right: 50px;
    }
    
    .small-img-group{
      display: flex;
      justify-content: space-between;
    }
    .small-img-col{
      flex-basis: 24%;
      cursor: pointer;
    }
    .product-detail .single-pro-details{
      width: 50%;
      padding-top:30px ;
      
    
    }
    .product-detail .single-pro-details h4{
      padding: 40px 0 20px 0;
    
    }
    
    .product-detail .single-pro-details h2{
      font-size: 25px;
    }
    .product-detail .single-pro-details select{
      display: block;
      padding: 5px 10px;
      margin-bottom: 10px;
    }
    .product-detail .single-pro-details input{
      width: 70px;
      height: 45px;
      padding-left:10px;
      font-size: 16px;
      margin-right: 10px;
    }
    .product-detail .single-pro-details input:focus{
      outline: none;
     
    }
    
    .product-detail .single-pro-details button{
      background: #088178;
      color: #fff;
      width: 140px;
      height: 45px;
      font-weight: 700;

    }
    .product-detail .single-pro-details span{
      line-height: 25px;
      width: 100px;
    }