.item{
    width: 21%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0; 
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.4s ease;
  
  
}
.item:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.10);
  transform: scale(1.1);
}
.item img{
    width: 340px;
    border-radius: 20px;
}
    

.item p{
    margin: 6px 0px;
    font-size: 15px;
}
.item-prices{
    display: flex;
    gap: 20px;

}
.item-new-price{
    color: #374151;
    font-size: 18px;
    font-weight: 600px;
}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item button{
    width: 85px;
    height: 35px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: #ffff;
    font-size: 13px;
    font-weight: 600;
  margin-bottom: 30px;
    cursor: pointer;
    margin-left: 140px;
}
.item button:hover{
    transform: scale(1.1);
    background-color: #f00606;
}